.chartDashboard {
    &__container {
        ul {
            padding-bottom: 12px;
        }

        h2 {
            padding-bottom: 32px;
        }

        >div {
            min-height: 400px;
        }
    }
}