.chartDashboard {
    &__container {
        ul {
            padding-bottom: 12px;
        }

        h2 {
            padding-bottom: 16px;
        }
    }

    &--labels {
        display: flex;
        gap: 12px;
        padding-bottom: 32px
    }

    &--layout {
        min-height: 400px;
    }
}