.round {
    display: grid;
    gap: 4px;

    p {
        color: #8b909a;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1px;
        line-height: 20px;
    }

    span {
        color: #000;
        font-feature-settings: 'tnum' on, 'lnum' on;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.1px;
        line-height: 22px;
    }

    &__rateChange {
        div {
            height: 15px;
            margin-top: 3px;
        }
    }
}