.dashboard {
    display: grid;
    gap: 48px
}

.tabelTabs {
    .uk-tabs-top .uk-tabs-nav::before {
        width: 144px !important;
    }

    .uk-tabs-nav-wrap {
        justify-content: space-between;
    }

    .uk-tabs-nav {
        margin-bottom: 16px;
    }
    .uk-tabs-tab + .uk-tabs-tab {
        margin: 0 0 0 4px;
    }
    .uk-tabs-tab-btn {
        font-size: 14px;
    }
}
