.dashboard {
    display: grid;
    gap: 48px
}

.tabelTabs {
    .uk-tabs-top .uk-tabs-nav::before {
        width: 174px !important;
    }

    .uk-tabs-nav-wrap {
        justify-content: space-between;
    }
}