h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Root Sans', sans-serif;
}


h1 {
    color: #000;
    font-feature-settings: 'ss10' on;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    @media (max-width: 640px) {
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
    }
}

h2 {
    color: #000;
    font-feature-settings: 'ss10' on;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

h3 {
    color: #000;
    font-feature-settings: 'ss10' on;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

h4 {
    color: #000;
    font-feature-settings: 'ss10' on;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

h5 {
    color: #000;
    font-feature-settings: 'ss10' on;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 24px;
} 

h6 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 20px;
}

p {
    line-height: 22px;
}

body {
    font: 400 16px/1.2 'PT Root UI', sans-serif;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    &--xsmall {
        max-width: 400px;
    }

    &--small {
        max-width: 560px;
    }

    &--large {
        max-width: 1200px;
    }
}


.switcher {
    display: block;

    input {
        display: none;
    }

    &__handle {
        background-color: rgb(255 255 255 / 40%);
        border-radius: 8px;
        cursor: pointer;
        display: block;
        height: 16px;
        position: relative;
        transition: background-color 0.25s;
        width: 32px;

        &::after {
            background-color: #fff;
            border-radius: 50%;
            content: '';
            display: block;
            height: 18px;
            left: 0;
            position: absolute;
            top: -1px;
            transition: left 0.25s, width 0.15s;
            width: 18px;
        }

    }

    input:checked+.switcher__handle {
        background-color: #e6ac00;

        &::after {
            left: 14px;
        }
    }
}

.divider {
    background: none;
    border-top: 1px solid rgb(255 255 255 / 16%);
    margin: 16px 0;
    opacity: 1;
}

.divider-dashed {
    border-top-style: dashed;
}

.spin {
    animation: rotate 1s linear infinite;
}

.flex-wrap {
    flex-wrap: wrap;
}

@keyframes checking {
    from {
        border: 1px solid rgb(255 255 255 / 16%);
    }

    to {
        border: 1px solid rgb(116 166 255 / 76%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    src: local('PT Root UI'), url('../assets/fonts/PT_Root_UI_Regular.woff') format('woff');
}
@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 300;
    src: local('PT Root UI'), url('../assets/fonts/PT_Root_UI_Light.woff') format('woff');
}
@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    src: local('PT Root UI'), url('../assets/fonts/PT_Root_UI_Medium.woff') format('woff');
}
@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    src: local('PT Root UI'), url('../assets/fonts/PT_Root_UI_Bold.woff') format('woff');
}

