.table {
    padding: 0 25px;

    th {
        border-bottom: 1px solid #e4e5ea;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #8B909A;
        padding-bottom: 12px;
        padding-top: 24px;

        &:last-child {
            padding-right: 13px;
        }

        &:first-child {
            padding-left: 13px;
        }
    }

    td {
        border-bottom: 1px solid #e4e5ea;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #000000;

        &:last-child {
            padding-right: 13px;
        }

        &:first-child {
            padding-left: 13px;
        }
    }
    @media (max-width: 640px) {
        padding: 0 0px;
    }
}

.pagination-container {
    padding: 0 25px;
}

.listCard {
    border-bottom: 1px solid #E4E5EA;
}