.device-nav {
    border: none;

    a {
        border-bottom: 1px solid #d4d7dc;
        color: #8b909a;
        display: block;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.25px;
        line-height: 1.25;
        padding: 16px 8px!important;
        width: 100%;
    }

    li {
        border: none;
        border-top: none!important;
    }
}