.device-nav {
    // margin: 40px 0 20px;

    // &.nav-divider > :not(.nav-divider) + :not(.nav-header, .nav-divider) {
    //     border-color: transparent;
    //     position: relative;

    //     &::before {
    //         background: linear-gradient(270deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 16%) 100%);
    //         border-top: 0;
    //         content: '';
    //         height: 1px;
    //         position: absolute;
    //         top: -1px;
    //         width: 100%;
    //     }
    // }
    a {
        display: block;
        width: 100%;
        padding: 16px 8px!important;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .25px;
        line-height: 1.25;
        border-bottom: 1px solid #D4D7DC;
        color: #8B909A;
    }
    li {
        border: none;
        border-top: none!important;
    }
    border: none;
}