@import '@broxus/react-uikit/dist/esm/styles/variables';

.header {
    align-items: center;
    background: #fff;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    nav {
        padding: 0 24px;
        width: 100%;
    }

    .nextDistribution {
        color: #8b909a;
        gap: 8px;

        p {
            color: #8b909a;
            font-family: 'PT Root UI';
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.2px;
            line-height: 16px;
        }

        time {
            color: #8b909a;
            font-family: 'PT Root UI';
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.1px;
            line-height: 20px;
        }
    }

    @media (width <= 640px) {
        nav {
            padding: 0 9px;
            width: 100%;

            .uk-wallet-account-icon {
                width: 24px;
            }

            .uk-wallet-account-title {
                font-size: 14px;
            }

            .uk-navbar-item {
                gap: 8px
            }

            .uk-icon-material:not(.uk-icon-button) {
                height: var(--icon-size, 28px);
                min-width: var(--icon-size, 28px);
                width: var(--icon-size, 28px);
            }

            .uk-copy-wrapper {
                display: none;
            }

            .uk-position-relative {
                display: none;
            }

            .button-connect {
                font-size: 14px;
                font-weight: 500;
                height: 36px;
                letter-spacing: 0.6px;
                line-height: 36px;
                padding: 0 16px;
            }
        }

        // .uk-wallet-connector {
        //     .uk-position-relative {
        //         display: none;
        //     }
        // }
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        -webkit-backdrop-filter: blur(64px);
        backdrop-filter: blur(64px);
        background: #fff;
        box-shadow: 0 0 0 1px rgb(255 255 255 / 8%);
    }
}


.btn-open-drawer {
    background: #fff0;
    color: #000;
    height: 28px;
    min-width: 28px;
    width: 28px;

    &:hover {
        background: #fff0;
        color: #000;   
    }

    i {
        font-size: 28px;
    }
}

.iconLogout {
    svg {
        margin-top: -3px;
        width: 31px;
    }
}