@import '@broxus/react-uikit/dist/esm/styles/variables';

.header {
    align-items: center;
    background: #fff;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    nav {
        padding: 0 24px;
        width: 100%;
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        -webkit-backdrop-filter: blur(64px);
        backdrop-filter: blur(64px);
        background: #fff;
        box-shadow: 0 0 0 1px rgb(255 255 255 / 8%);
    }

    @media (max-width: 640px) {
        // nav {
        //     padding: 0 9px;
        //     width: 100%;
        //     .uk-wallet-connector {
        //         .uk-position-relative {
        //             display: none;
        //         }
        //     }
        // }
    }

}

.btn-open-drawer {
    height: 28px;
    min-width: 28px;
    width: 28px;

    i {
        font-size: 28px;
    }
}