.form {

    margin-bottom: 128px;

    &__container {
        background: #fff;
        box-shadow: 0 2px 32px rgb(0 0 0 / 8%);
        display: block;
        margin: auto;
        margin-top: 40px;
        max-width: 440px;

        &--tabs {
            padding: 24px;

            .uk-tabs-nav-wrap {
                border: 1px solid #e4e5ea;

                .uk-tabs-nav-list {
                    justify-content: space-evenly;
                    width: 100%;

                    .uk-tabs-tab {
                        justify-content: center;
                        width: 100%;
                    }

                    .uk-tabs-tab-active:not(.uk-tabs-tab-disabled) {
                        background: #ecf1fe;
                        color: var(--tabs-tab-active-color);
                    }

                    .uk-tabs-ink-bar {
                        display: none;
                    }

                    .uk-tabs-tab+.uk-tabs-tab {
                        margin: 0;
                    }
                }
            }

            .uk-tabs-nav {
                margin-bottom: 24px;

                &::before {
                    border-bottom: none;
                }
            }

            .uk-tabs-nav .uk-tabs-nav-wrap {
                justify-content: center;
            }
        }

        @media (width <= 640px) {
            margin-top: 0;
        }
    }
    @media (width <= 640px) {
        margin-bottom: 24px;
    }
}