.root {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--text);
    display: flex;
    flex-direction: column;

    &.line {
        flex-direction: row-reverse;
        grid-gap: 4px;

        .main {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.5px;
        }
    }
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #000000;
}

.main {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #6C7078;
}