.ordering-switcher {
    position: relative;

    &.btn {
        background: none;
        border: 0;
        color: inherit;
        color: #4d4f55;
        font: inherit;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.1px;
        line-height: 20px;
        margin: 0;
        min-height: unset;
        padding: 0;


        &:hover,
        &focus {
            background: none;
            border: 0;
            color: #000;
            text-decoration: none;
        }
    }

    &-desc,
    &-asc {
        color: #000 !important;
        padding-right: 24px !important;

        &::before {
            border: 5px solid transparent;
            content: '';
            display: block;
            position: absolute;
            right: 5px;
        }
    }

    &-asc {
        &::before {
            border-bottom-color: #000;
            top: 2px;
        }
    }

    &-desc {
        &::before {
            border-top-color: #000;
            top: 7.5px;
        }
    }


    &-desc-left,
    &-asc-left {
        color: #000 !important;
        padding-left: 24px !important;

        &::before {
            border: 5px solid transparent;
            content: '';
            display: block;
            left: 5px;
            position: absolute;
        }
    }

    &-asc-left {
        &::before {
            border-bottom-color: #000;
            top: 2px;
        }
    }

    &-desc-left {
        &::before {
            border-top-color: #000;
            top: 7.5px;
        }
    }
}