.pagination {
    margin: 24px 0;
    
    a {
        margin: auto 0;
    }

    label {
        background: #fff;
        border: 1px solid #c6c9cf;
        height: 36px;
        margin: auto 0;
        width: 64px;

        &:hover {
            background: #fff;
            border: 1px solid #c6c9cf;
        }

        &:active {
            background: #fff;
            border: 1px solid #c6c9cf;
        }
    }

    .uk-card {
        margin: auto 0;
    }

    button {
        padding: 11px 13.5px;
        line-height: 0px;
    }

}