.text-input-border-buttom {
    border-bottom: 1px solid #D4D7DC;
}

.text-input-container {
    margin-bottom: 16px;

    p {
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #A6AAB2;
    }
}

.text-input {
    box-sizing: border-box;
    background: #fff0;
    // width: min-content;
    border: none;
    color: #000;
    min-width: 128px;
    padding: 0;

    // .uk-control-prefix {
    //     margin: 0;
    //     margin-right: 0 !important;
    // }

    input {
        height: 42px !important;
        margin-left: -3px;

        font-weight: 500;
        font-size: 24px!important;
        line-height: 28px;
        text-align: left;
        font-feature-settings: 'ss10' on;
        color: #000;

        &::placeholder {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            font-feature-settings: 'ss10' on;
            color: #A6AAB2;
        }
    }

    .uk-control-suffix {
        margin: 0px;
        margin-left: 0 !important;
    }


    // &:disabled {
    //     color: rgba(255, 255, 255, 0.32);
    //     background: rgba(0, 0, 0, 0.08);
    //     cursor: not-allowed;
    // }
    &:hover {
        background: #fff0;
    }

    &:focus {
        background: #fff0;
    }
}